<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        div {
            padding: 10px;
        }
    </style>
</head>

<body>

    <div>
        <label> 아이디 : <input id = "id" type = "text"></label>
    </div>

    <div>
        <label> 비번 : <input id = "pw" type = "text"></label>
    </div>

    <div>
        <label> 비번재 : <input id = "r_pw" type = "text"></label>
    </div>

    <div>
        <input type="button" value="뒤로가기" onclick="back()">
        <input type="button" value="로그인" onclick="create_id()">
    </div>
    
</body>

</html>