<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'header.html' %}
        <title>Jungle Books</title>
        
        <style>

        .wrap {
            margin: auto;
            width: 1200px;
        }

        /* .title {
            background-color: gainsboro;
            padding: 20px 30px;
        } */

        .form-group {
            margin: 10px 0;
        }

        .posting-box {
            margin: 10px auto 30px auto;
            width: 700px;
            border: 3px solid black;
            border-radius: 5px;
            padding: 25px;
        }
            .center {
                text-align: center;
            }

            /* .book-list {
                width: 500px;
                margin: 20px auto 0 auto;
            } */

            .book-name {
                display: inline-block;
            }

            .book-name:hover {
                text-decoration: underline;
            }

            /* #book-box {
                width: 800px;
            } */


            .card {
                width: 370px;
                display: inline-block;
                margin: 10px;
                vertical-align: top;
            }

            .card-content {
                height: 210px;

            }

            .sorter-box {
                width: 500px;
            }
            
            .card-img-top {
                width: 300px;
                height: 300px;
            }

            
        </style>
        <script>
            $(document).ready(function () {
                showBooks();
            })

            function showBooks() {
            $.ajax({
                type: "GET",
                url: "/books/list",
                data: {},
                success: function (response) {
                    console.log(response["all_books"])
                    if (response["result"] == "success") {
                        let all_books = response['all_books']
                        for (let i = 0; i < all_books.length; i++) {
                            let title = all_books[i]['title']
                            let text = all_books[i]['text']
                            let image = all_books[i]['image']
                            let date = image.substr(5, 13)
                            console.log(image)
                            let temp_html =
                                `<div class="col">
                                    <div class="card h-100">
                                        <img src="../static/${image}" class="card-img-top" style="max-height: 300px">
                                        <div class="card-body">
                                            <h5 class="card-title">${title}</h5>
                                            <p class="card-text">${text}</p>
                                    </div>
                                        <div class="card-footer">
                                            <small class="text-muted">${date}</small>
                                        </div>
                                    </div>
                                </div>`

                            $('#book-box').append(temp_html)
                        }
                    }
                }
            });
        }


            function likeBook(title) {
                $.ajax({
                    type: 'POST',
                    url: '/api/books/like',
                    data: {'title_give' : title},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let msg = response['msg'];
                            alert(msg);
                            showBooks();
                        }
                    }
                });
            }


            function openRentalPop(objId){
                
                $('[name=title]').val('');
                $('[name=content]').val('');
                $('[name=bookImg]').attr('src','');

                $('[name=place]').val('');
                $('[name=time]').val('');
                $('[name=period]').val('');

                $('#status').html('');

                $.ajax({
                    type:'POST',
                    url:'/mypage/bookEdit',
                    data:{'objId':objId },
                    success: function(response){
                        console.log(response);
                        var result = response.result[0];
                        $('[name=title]').val(result.title);
                        $('[name=content]').val(result.text);
                        $('[name=bookImg]').attr('src','/static/'+result.image);

                        $('#reqRentalBtn').attr('onclick',"reqRental('"+objId+"')");

                    }
                });
                
            }

            function reqRental( objId ){
                var rental_place = $('[name=place]').val();
                var rental_time = $('[name=time]').val();
                var rental_period = $('[name=period]').val();

                if ( rental_place == null || rental_place == undefined || rental_place == '' || rental_place.length == 0 ) {
                    $('[name=place]').focus();
                    return alert('대여 장소를 입력해주세요.');
                }
                if ( rental_time == null || rental_time == undefined || rental_time == '' || rental_time.length == 0 ) {
                    $('[name=time]').focus();
                    return alert('대여 시간을 입력해주세요.');
                }
                if ( rental_period == null || rental_period == undefined || rental_period == '' || rental_period.length == 0 ) {
                    $('[name=period]').focus();
                    return alert('대여 기간을 입력해주세요.');
                }

                $.ajax({
                    type:'POST',
                    url:'/mypage/reqBookRental',
                    data:{
                        'objId':objId,
                        'rental_place':rental_place,
                        'rental_period':rental_period,
                        'rental_time':rental_time,
                        'book_name':$('[name=title]').val()
                    },
                    success: function(response){
                        console.log(response);
                        var result = response.result[0];
                    }
                });


            }


        </script>
    </head>
    <body>
        
    <div class ="wrap">
        <div class="book-column" id="book-box">
            {% for item in all_books %}
            <div class = "card">
                <div class="card-image">
                <figure class="image is-4by4">
                    <img src="../static/{{ item['image'] }}" class="card-img-top" style="max-height: 300px">
                </figure>
                </div>
                <div class="card-content">
                    <div class="title">
                        <p class="title is-5">{{ item['title'] }}</p>
                    </div>
                    <div class="content">
                        {{ item['text'] }}
                    </div>
                    <div class="date">
                        <time datetime="2016-1-1">등록일:   {{ (item['image'] | replace('image-','') )[0:10]  }}</time>
                    </div>
                </div>
                <footer class="card-footer">
                    <span style="cursor: pointer;" onclick="javascript:openRentalPop('{{ item['_id'] }}')" data-modal-target="rental-modal" data-modal-toggle="rental-modal" class="card-footer-item">대여하기</span>
                </footer>
            </div>
            {% endfor %}
        </div>
    </div>

        


    <!-- Main modal -->
    <div id="rental-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex relative items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <div class="w-full flex items-center justify-between " >
                        <div class="w-1/2">
                            <img name="bookImg" src="">
                        </div>
                        <div class="w-1/2 px-5 ">
                            상태 : <span id="status"></span>
                            <input name="title" readonly="readonly" class="px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none">
                            <textarea name="content" readonly="readonly" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"></textarea>
                        </div>
                    </div>
                    <button type="button" class="absolute top-0 right-0 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="rental-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4 w-full flex" >
                    <div class="w-8/12 mt-0">
                    장소 : <input name="place" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 inline-block w-4/5 rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"><br>
                    시간 : <input name="time" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 inline-block w-4/5 rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none"><br>
                    기간 : <input name="period" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 inline-block w-4/5 rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none">
                    </div>
                    <div class="w-4/12 mt-0 items-center pr-5" style="margin-top: 0!important; ">
                    <!-- <button class="mt-1 inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500">채팅하기</button><br> -->
                    <button id="reqRentalBtn" class="w-full mt-1 items-center px-4 py-2 font-semibold h-full text-sm shadow rounded-md text-white bg-indigo-500" onclick="reqRental()">대여신청</button><br>
                    </div>
                </div>
            </div>
        </div>
    </div>








    </body>
</html>