<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>Jungle Books</title>

    <style>
        .center {
            text-align: center;
        }       

        .sorter-box {
            width: 500px;
        }

        .movie-list {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .movie-name {
            display: inline-block;
        }

        .movie-name:hover {
            text-decoration: underline;
        }

        .card {
            margin-bottom: 15px;
        }
    </style>
    <script>
        $(document).ready(function () {
            showMovies();
            displaySorter()
            displayTrashMode(trashMode)
        });

        function showMovies() {
            $.ajax({
                type: 'GET',
                url: '/api/movies/list',
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        $("#movie-box").empty()
                        let all_movies = response['all_movies'];
                        for (i = 0; i < all_movies.length; i++) {
                            let row = all_movies[i]
                            let title = row['title']
                            let auth = row['auth']
                            let href = row['href']
                            let img_url = row['img_url']
                            let like = row['like']

                            let temp_html = `<div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <img src="${img_url}" class="movie-poster" alt="Placeholder image">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <a href="${href}" target="_blank" class="movie-name title is-4">${title} (좋아요: ${like})</a>
                                                <p class="subtitle is-6">${auth}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="#" onclick="likeMovie('${title}')" class="card-footer-item has-text-info">
                                            위로!
                                            <span class="icon">
                                                <i class="fas fa-thumbs-up"></i>
                                            </span>
                                        </a>
                                        <a href="#" onclick="deleteMovie('${title}')" class="card-footer-item has-text-danger">
                                            휴지통으로
                                            <span class="icon">
                                                <i class="fas fa-ban"></i>
                                            </span>
                                        </a>
                                    </footer>
                                </div>`
                            $("#movie-box").append(temp_html)
                        }
                    }
                }
            });
        }

        function likeMovie(title) {
            $.ajax({
                type: 'POST',
                url: '/api/movies/like',
                data: { 'title_give': title },
                success: function (response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];
                        alert(msg);
                        showMovies();
                    }
                }
            });
        }

        function deleteMovie(title) {
            $.ajax({
                type: 'POST',
                url: '/api/movies/delete',
                data: { 'title_give': title },
                success: function (response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];
                        alert(msg);
                        showMovies();
                    }
                }
            });
        }

        function displaySorter() {
            document.getElementById("sorter-likes").classList.remove("active")
            document.getElementById("sorter-viewers").classList.remove("active")
            document.getElementById("sorter-date").classList.remove("active")
        }

    </script>
</head>

<body>
    <section class="hero danger-emphasis">
        <div class="hero-body">
            <div class="container center">
                <h1 class="title">
                    Jungle Books 📖
                </h1>
                <h2 class="subtitle">
                    지식 공유의 즐거움
                </h2>
            </div>
        </div>
    </section>
    <div class="mx-auto sorter-box">
        <div class="btn-group m-3 mx-auto w-100">
            <a href="#" class="btn btn-primary" id="sorter-likes" onclick="changeSorter('likes')">좋아요 순으로 정렬</a>
            <a href="#" class="btn btn-primary" id="sorter-viewers" onclick="changeSorter('viewers')">누적관객수 순으로 정렬</a>
            <a href="#" class="btn btn-primary" id="sorter-date" onclick="changeSorter('date')">개봉일 순으로 정렬</a>
        </div>
    </div>

    <div class="mx-auto sorter-box">
        <span class="d-flex justify-content-end">
            <div id="trash-mode-box">

            </div>
        </span>    
    </div>

    <div class="movie-list" id="movie-box">

    </div>
</body>

</html>