<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'header.html' %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Jungle Books</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <style>
            .center {
                text-align: center;
            }

            .book-list {
                width: 500px;
                margin: 20px auto 0 auto;
            }

            .book-name {
                display: inline-block;
            }

            .book-name:hover {
                text-decoration: underline;
            }

            .card {
                margin-bottom: 15px;
            }
        </style>
        <script>
            $(document).ready(function () {
                // index.html 로드가 완료되면 자동으로 showBooks() 함수를 호출합니다.
                showBooks();
            });

            function showBooks() {
                $.ajax({
                    type: 'GET',
                    url: '/books/list',
                    data: {},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            $("#book-box").empty()
                            let all_books = response['all_books'];
                            for (i=0; i<all_books.length; i++) {
                                let row = all_books[i]
                                let title = row['book_name']
                                let content = row['book_comment']
                                let img_url = row['book_image']

                                let temp_html = `<div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <img src="${img_url}" alt="Placeholder image">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p target="_blank" class="book-name title is-4">${title}</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="#" onclick="likeBook('${title}')" class="card-footer-item has-text-info">
                                            대여하기
                                            <span class="icon">
                                                <i class="fas fa-thumbs-up"></i>
                                            </span>
                                        </a>                                       
                                    </footer>
                                </div>`
                                $("#book-box").append(temp_html)
                            }
                        }
                    }
                });
            }

            function likeBook(title) {
                $.ajax({
                    type: 'POST',
                    url: '/api/books/like',
                    data: {'title_give' : title},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let msg = response['msg'];
                            alert(msg);
                            showBooks();
                        }
                    }
                });
            }

        </script>
    </head>
    <body>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container center">
                    <h1 class="title">
                        Jungle Books 📖
                    </h1>
                    <p></p>
                    <h2 class="subtitle">
                        정보 공유의 즐거움
                    </h2>
                </div>
            </div>
        </section>
        <div class="book-list" id="book-box">
            
        </div>
    </body>
</html>