<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

    <form action="/login" method="POST">
        <input type="username" name="username" placeholder="Username"> <br><br>
        <input type="password" name="password" placeholder="Password"> <br><br>
        <input type="submit" value="Login">
    </form>

    <form action="/register" method="POST">
        <input type="submit" value="Register">
    </form>


</body>
</html>