<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'non_login_header.html' %}
    <script src="static/script.js"></script>
</head>
<script>
    function log_in() {
    let user_id = $("[name=user_id]").val();
    let password = $("[name=password]").val();

    if (user_id == "") {
        alert("아이디를 입력해주세요.");
        $("[name=user_id]").val();
        return;
    } 

    if (password == "") {
        alert("비밀번호를 입력해주세요.");
        $("[name=password]").val();
        return;
    } 
    $.ajax({
        type: "POST",
        url: "/login",
        data: {
            user_id: user_id,
            password: password
        },
        success: function (response) {
            if (response['result'] == 'success') 
            {
//                $.cookie('mytoken', response['token'], {path: '/'});
                document.cookie = 'mytoken='+response['token']+'; path=/;';
                window.location.replace("/");
            } else {
                alert(response['msg']);
            }
        }
    });
}

</script>
<body>

    <form action="/login" method="POST">
        <input type="user_id" name="user_id" placeholder="user_id"> <br><br>
        <input type="password" name="password" placeholder="Password"> <br><br>
        <input type="button" onclick="log_in();" value="Login">
    </form>

    <form action="/register" method="POST">
        <input type="submit" value="Register">
    </form>

</body>
</html>