<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

    <div>
        <div class="form-group">
            <label for="input-username">-userid</label>
            <input id="input-username" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="input-nickname">-name</label>
            <input id="input-nickname" class="form-control" placeholder="">
        </div>


        <div class="form-group">
            <label for="input-password">-password</label>
            <input type="password" id="input-password" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="input-password2">-password2</label>
            <input type="password" id="input-password2" class="form-control" placeholder="">
        </div>


        <button type="button" class="btn btn-primary" onclick="register()">등록 저장</button>
    </div>


</body>
</html>