<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'non_login_header.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
/*         
        .on {
            background-color: rgb(81, 202, 186);

            margin-bottom: 200px;
            margin: 100px auto;


        }
        .find-btn{
	        text-align: center;
            border-radius: 50px;
            margin: 15px;
        }
        input {
            text-align: center;
            font-size: 17px;
        }

        ::placeholder {
            color:rgb(81, 202, 186);
            font-size: 17px;
            text-align: center;
        }
        button {
            font-size: 17px;

        } */
        .container {
            margin: auto;
            width: 350px;
        }
        .is-hovered:hover{
            background-color:#e7fbfe ;
        }
        
    </style>

</head>

<script>
    let duplicateChecked = false;
    let samePass = false;

    function checkDuplicate() {
        let username = $("#input-username").val();  
        $.ajax({
            type: "POST",
            url: "/check_duplicate_username", 
            data: { username: username },
            success: function(response) {

                if (response.exists) {
                    alert("이미 존재하는 아이디입니다.");
                } else {
                    duplicateChecked = true;
                    alert("사용 가능한 아이디입니다.");
                }
            }
        });
    }

    function checkpass() {
        //
        let password = $("#input-password").val()
        let password2 = $("#input-password2").val()

        if (password != password2) 
        {
            alert("비밀번호가 일치하지 않습니다.");
        }else{
            alert("사용가능한 비밀번호 입니다.");
            samePass = true;
        }

    }

    function NoEmpty() {
        let username = $("#input-username").val()
        let nickname = $("#input-nickname").val()
        let password = $("#input-password").val()
        let password2 = $("#input-password2").val()

        if (username & nickname & password & password2 == "") {
            alert("빈 공백입니다.");
        } else 
        if (username == "") {
            alert("write your username");
        } else 
        if (nickname == "") {
            alert("write your nickname");
        } else 
        if (password & password2 == "") {
            alert("write your password");
        }
    }

    function register() {
    let username = $("#input-username").val()
    let nickname = $("#input-nickname").val()
    let password = $("#input-password").val()
    let password2 = $("#input-password2").val()
    console.log(username, nickname, password, password2)
  	

    if (username & nickname & password & password2 == "") {

        alert("빈 공백입니다.");
            return;
        } else 
        if (username == "") {

            alert("write your username");
            return;
        } else 
        if (nickname == "") {

            alert("write your nickname");
            return;
        } else 
        if (password & password2 == "") {

            alert("write your password");
            return;
        } else 
        
        if (!duplicateChecked) {
            alert("중복 확인을 먼저 해주세요.");
            return;
    } else 
    if (samePass) {

        alert("패스워드 확인.");
        return;
    } else {
        alert("완료");
    }

    $.ajax({
        type: "POST",
        url: "/sign_up/save",
        data: {
            username_give: username,
            password_give: password,
            nickname_give: nickname
        },
        success: function (response) {
            alert("회원가입을 축하드립니다!")
            window.location.replace("/")
        }
    });
}
</script>

<body>

    <!-- <div class="on">
        <div class="find-btn">
            <input id="input-username" style="border-radius: 50px; width:200px;height: 25px; border-color:rgb(81, 202, 186);" class="form-control" placeholder="User_id"></div>

        <div class="find-btn">
            <button type="button" style="border-radius: 50px; width:100px;height: 50px; background-color: rgb(81, 202, 186); border-color: rgb(81, 202, 186); color: white" class="btn btn-primary btn-oval" onclick="checkDuplicate()">중복 확인</button></div>


        <div class="find-btn">
            <input id="input-nickname" style="border-radius: 50px; width:200px;height: 25px; border-color:rgb(81, 202, 186);" class="form-control" placeholder="Name">
        </div>


        <div class="find-btn">
            <input type="password" id="input-password" style="border-radius: 50px; width:200px;height: 25px; border-color:rgb(81, 202, 186);" class="form-control" placeholder="Password">
        </div>
        <div class="find-btn">
            <input type="password" id="input-password2" style="border-radius: 50px; width:200px;height: 25px; border-color:rgb(81, 202, 186);" class="form-control" placeholder="Passchck">
        </div>

        <div class="find-btn">
            <button type="button" style="border-radius: 50px; width:150px;height: 50px; background-color: rgb(81, 202, 186); border-color: rgb(81, 202, 186); color: white;" class="btn btn-primary btn-oval" onclick="checkpass()">비밀번호 확인</button>
        </div>
        <div class="find-btn">
            <button type="button" style="border-radius: 50px; width:100px;height: 50px; background-color: rgb(81, 202, 186); border-color: rgb(81, 202, 186); color: white" class="btn btn-primary btn-oval" onclick="register()">완료</button>
        </div>

    </div> -->


<div class ="container">
    <div class="field">
    <p class="control has-icons-left has-icons-right">
        <input class="input is-hovered" id="input-username" type="email" placeholder="ID">
        <span class="icon is-small is-left">
        <i class="far fa-user-circle"></i>
        </span>
    </p>
    </div>
    <div class="field">
        <p style="text-align: right;" class="control">
        <button class="button is-success is-small is-outlined" onclick="checkDuplicate()">
            중복확인
        </button>
        </p>
    </div>
    <div class="field">
    <p class="control has-icons-left">
        <input class="input is-hovered" id="input-nickname" placeholder="Name">
        <span class="icon is-small is-left">
        <i class="fa fa-male"></i>
        </span>
    </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
        <input class="input is-hovered" type="password" id="input-password" placeholder="Password">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
        <input class="input is-hovered" type="password" id="input-password2" placeholder="Password Check">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p style="text-align: right;" class="control">
        <button class="button is-success is-small is-outlined" onclick="checkpass()">
            비밀번호 확인
        </button>
        </p>
    </div>
    <div class="field">
        <p style="text-align: center;" class="control">
        <button class="button is-success is-small is-right is-outlined" onclick="register()">
            완료
        </button>
        </p>
    </div>
</div>
</body>
</html>