<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header.html' %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script>
    function postBooks() {
    let title = $("#input-title").val()
    let text = $("#input-text").val()
    let image = $("#input-image").val() 

    $.ajax({
      type: "POST",
      url: "/books/upload",
      data: { 'title_give': title, 'text_give': text, 'image_give': image },
      success: function (response) { // 성공하면
        if (response['result'] == 'success') {
          alert("책 등록 완료!");
          showBooks();
        } else {
          alert("서버 오류!")
        }
      }
    })
  }
  </script>
</head>
<body>
 
</body>
</html>