<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- Bootstrap CSS -->

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

    {% include 'header.html' %}
  <title>모의 시험</title>

  <!-- style -->
  <style>
        .center {
            text-align: center;
        }       

        .sorter-box {
            width: 500px;
        }

        .movie-list {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .movie-name {
            display: inline-block;
        }

        .movie-name:hover {
            text-decoration: underline;
        }

        .card {
            margin-bottom: 15px;
        }

        .register {
          margin: auto;
        }
    </style>

<script>
  function postBooks() {
    let title = $("#input-title").val()
    let text = $("#input-text").val()
    let image = $("#input-image")[0].files[0]

    let form_data = new FormData()
    form_data.append("image_give", image)
    form_data.append("title_give", title)
    form_data.append("text_give", text)

    $.ajax({
        type: "POST",
        url: "/books/upload",
        // form data 형식으로 파일 데이터 보내기
        data: form_data,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
            alert(response["msg"]);
            window.location.replace('/books/list');
        }
    });
  }

    
</script>

<body>
  
  <div class="wrap">
    <section class="section">
      <h1 class="title has-text-centered">도서등록 페이지입니다.</h1>
    </section>
    <div class="jumbotron">
      <!-- <div class = register>
        <p>도서등록</p>
      </div> -->
      <form>
        책 표지 사진
        <div class="file has-name is-small is-normal">
          <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                파일을 선택해주세요
              </span>
            </span>
            <span class="file-name">
             
            </span>

          </label>
        </div>
        <!-- <div>
          <input type="file" id="input-image" name="chooseFile" accept="image/*">
        </div> -->
        <br>
        <div class="control">
          제목<input class="input is-hovered" type="text" placeholder="책 제목을 입력하세요">
        </div>
        <br>
        <div>
          내용 <textarea class="textarea" placeholder="책의 내용을 간단히 소개해주세요" rows="10"></textarea>
        </div>
        <br>
        <div> 
          <button class="button is-primary is-light" type="submit" onclick="postBooks()">등록하기</button>
          
        </div>
      </form>
    </div>
  </div>

</body>

</html>